<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-init-method="init" default-destroy-method="destory">

	<bean id="mailutil" class="assignment.spring23.MailUtility">
		<property name="host" value="smtp.gmail.com"></property>
		<property name="username" value="alexbetterthanaditya@gmail.com"></property>
		<property name="password" value="alexrules"></property>
			
				<property name="port" value="587"></property>
				</bean>
	
	<bean id="sendmail" class="assignment.spring23.SendMail">
		<property name="config" ref="mailutil"></property>
		
		
	</bean>
	</beans>
	
	